# Conexiones a BBDD usando Python

<img width="600" height="300" src="./img/sqlpython.png" align='middle'>

`Python` es un lenguaje de programación de alto nivel, de propósito general y muy popular. Básicamente, fue diseñado con énfasis en la legibilidad del código y los programadores pueden expresar sus conceptos en menos líneas de código. También podemos usar `Python` con `SQL`. En este artículo, aprenderemos cómo conectar `SQL` con `Python` usando el módulo `'MySQL Connector Python'`. El diagrama que se muestra a continuación ilustra cómo se envía una solicitud de conexión al conector Python de `MySQL`, cómo se acepta desde la base de datos y cómo se ejecuta el cursor con los datos de resultados.

<img width="630" height="300" src="./img/SQLConnection.jpg">

## Conectar SQL con Python

Para crear una conexión entre la base de datos MySQL y Python, se utiliza el método `connect()` del módulo `mysql.connector`. Pasamos los detalles de la base de datos como *HostName*, *nombre de usuario* y *contraseña* en la llamada al método, y luego el método devuelve el *objeto de conexión*.

Se requieren los siguientes pasos para conectar `SQL` con `Python`:

- **Paso 1**: **Descargue e instale** la base de datos `MySQL` gratuita.

- **Paso 2**: ahora ejecute los comandos que se indican a continuación para descargar e instalar `"Conector MySQL"`. Aquí, la instrucción `mysql.connector` lo ayudará a comunicarse con la base de datos `MySQL`.

- **Paso 3**: ahora ejecute los comandos que se indican a continuación para descargar e instalar `"Conector MySQL"`. 

    `pip install mysql-connector-python`

- **Paso 4**: para **verificar si la instalación fue exitosa** o si ya instaló `"MySQL Connector"`, vaya a su IDE y ejecute el siguiente código:

    `import mysql.connector`

- **Paso 5**: Ahora, para conectar `SQL` con `Python`, ejecute el código que se proporciona a continuación en su IDE.

In [1]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    # Si la conexion se da satisfactoriamente, tendremos 
    # un mensaje de éxito. 
    conn = connect(
                    host="localhost",
                    user=input("Enter username: "),
                    password=getpass("Enter password: "),
                    database="chinook")
         
    print('SUCCESSFUL\n\n')
except Error as e:
    # En caso de tener un error de conexión, lo mostramos
    print(e)

SUCCESSFUL

In [2]:
conn

Explicación de cada componente

<img src="./img/connect-props.jpg">

- **`mysql.connector`** permite que los programas de `Python` accedan a bases de datos `MySQL`.
- El método **``connect()``** de la clase MySQL Connector con los argumentos se conectará a ``MySQL`` y devolverá un objeto ``MySQLConnection`` si la conexión se establece correctamente.
- **usuario = “tunombredeusuario”**, aquí “tunombredeusuario” debe ser el mismo nombre de usuario que estableciste durante la instalación de ``MySQL``.
- **contraseña = “tu_contraseña”**, aquí “tu_contraseña” debe ser la misma contraseña que estableciste durante la instalación de ``MySQL``.
- **``cursor()``** se usa para ejecutar las declaraciones ``SQL`` en ``Python``.
- El método **``execute()``** se usa para compilar una declaración ``SQL``.

## Acceder a tablas en la BBDD

Primero mostramos las tablas disponibles en nuestra base de datos

In [3]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES")
 
for x in cursor:
  print(x)

('album',)
('artist',)
('customer',)
('employee',)
('genre',)
('invoice',)
('invoiceline',)
('mediatype',)
('playlist',)
('playlisttrack',)
('track',)

In [11]:
show_db_query = "SHOW DATABASES"
print(show_db_query)
with conn.cursor() as cursor:
    cursor.execute(show_db_query)
    for db in cursor:
        print(db)
print("\n\n")

select_movies_query = "/* Hola Mundo */ SELECT * FROM album LIMIT 5"
print(select_movies_query)
with conn.cursor() as cursor:
    cursor.execute(select_movies_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

    print('\n', cursor.column_names)

# conn.close()

SHOW DATABASES
('chinook',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('thebridgedb',)



/* Hola Mundo */ SELECT * FROM album LIMIT 5
(1, 'For Those About To Rock We Salute You', 1)
(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)

 ('AlbumId', 'Title', 'ArtistId')

In [ ]:
cursor.fetchall()

## Crear nueva BBDD

In [4]:
mydb = connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
)
 
# Creating an instance of 'cursor' class
# which is used to execute the 'SQL'
# statements in 'Python'
cursor = mydb.cursor()
 
# Creating a database with a name
# 'geeksforgeeks' execute() method
# is used to compile a SQL statement
# below statement is used to create
# the 'geeksforgeeks' database
cursor.execute("CREATE DATABASE newdatabase")

ProgrammingError: 1045 (28000): Access denied for user 'q'@'localhost' (using password: YES)

In [13]:
show_db_query = "SHOW DATABASES"
print(show_db_query)
with mydb.cursor() as cursor:
    cursor.execute(show_db_query)
    for db in cursor:
        print(db)
print("\n\n")

SHOW DATABASES
('chinook',)
('information_schema',)
('mysql',)
('newdatabase',)
('performance_schema',)
('sys',)
('thebridgedb',)

In [14]:
mydb.close()

In [22]:
try:
    # Si la conexion se da satisfactoriamente, tendremos 
    # un mensaje de éxito. 
    mydb = connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="newdatabase")
         
    print('SUCCESSFUL\n\n')
except Error as e:
    # En caso de tener un error de conexión, lo mostramos
    print(e)
 
cursor = mydb.cursor()
 
# Creating a table called 'gfg' in the
# 'geeksforgeeks' database
# cursor.execute("CREATE TABLE codewars (name VARCHAR(255), user_name VARCHAR(255))")

SUCCESSFUL

In [23]:
# Show existing tables
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('codewars',)

In [24]:
cursor.execute("""INSERT INTO codewars (name, user_name) VALUES ("Nani", "thebridge1")""")

In [25]:
mydb.commit()

In [18]:
cursor.execute('''
SELECT * FROM codewars
''').fetchall()

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [21]:
mydb.close()