# Ejercicio de repaso: BBDD Relacionales

Ejercicio sacado directamente de una entrevista de trabajo para una conocida compañía de retail.

![tablas1](img/Tablas-1.png)
![tablas3](./img/Tablas-3.png)

## 1. Crea un DataFrame por cada tabla

In [1]:
import pandas as pd

In [2]:


familias = {"ID_DPTO": ["1", "1", "2", "3" ,"3","4" ], 
            "COD_FAMILIA": ["1F1","1F1", "2F1", "3F1", "3F2", "4F1" ],
            "DESC_FAMILIA": ["Pulseras", "Anillos", "Bolso de mano", "Nautico", "Sandalias", "Bermudas"]}

df1 = pd.DataFrame(familias)

print(df1)

  ID_DPTO COD_FAMILIA   DESC_FAMILIA
0       1         1F1       Pulseras
1       1         1F1        Anillos
2       2         2F1  Bolso de mano
3       3         3F1        Nautico
4       3         3F2      Sandalias
5       4         4F1       Bermudas

In [ ]:
departamento1 = ["1","2", "3", "4"]
desc = ["Joyeria", "Bolsos", "Zapatería", "BAÑO CAB" ]

In [3]:
departamento = {"ID_DPTO": ["1","2", "3", "4"],
                "DESC_DPTO": ["Joyeria", "Bolsos", "Zapatería", "BAÑO CAB" ] }

df2 = pd.DataFrame(departamento)

print(df2)

  ID_DPTO  DESC_DPTO
0       1    Joyeria
1       2     Bolsos
2       3  Zapatería
3       4   BAÑO CAB

In [ ]:
referencia = ["A","B", "C", "D", "E", "F", "G", "H" ]
Id = ["1", "2", "2", "2", "2", "3", "3", "4"]
cod = ["1F1", "2F1", "2F1", "2F1", "2F1", "3F1", "3F2", "4F1"]
fecha = ["21/02/2010", "07/02/2014", "15/05/2014", "01/10/2005", "31/10/2010","20/04/2001", "14/02/2015", "25/03/2009" ]

In [4]:
Articulos = {"REFERENCIA":["A","B", "C", "D", "E", "F", "G", "H" ],
            "ID_DPTO": ["1",  "2", "2", "2", "2", "3", "3", "4"],
            "COD_FAMILIA": ["1F1", "2F1", "2F1", "2F1", "2F1", "3F1", "3F2", "4F1"],
            "FECHA_ALTA": ["21/02/2010", "07/02/2014", "15/05/2014", "01/10/2005", "31/10/2010","20/04/2001", "14/02/2015", "25/03/2009" ] }


df3 = pd.DataFrame(Articulos)
print(df3)

  REFERENCIA ID_DPTO COD_FAMILIA  FECHA_ALTA
0          A       1         1F1  21/02/2010
1          B       2         2F1  07/02/2014
2          C       2         2F1  15/05/2014
3          D       2         2F1  01/10/2005
4          E       2         2F1  31/10/2010
5          F       3         3F1  20/04/2001
6          G       3         3F2  14/02/2015
7          H       4         4F1  25/03/2009

In [ ]:
campanias = {'ID_CAMPANIA': ['CA1','CA2','CA3','CA4','CA5','CA6'],
            'TIPO': ['VENTA','VENTA','POSVENTA','VENTA','POSVENTA','POSVENTA'],
            'FECHA_CAMP': ['5/0/2012', '4/2/2012', '2/10/2009', '6/5/2010', '31/11/2010', '7/2/2015']}
depto_campania = {'ID_DPTO': ["1","1","2","3","3","3","4","4","4","4"],
                    'ID_CAMPANIA': ['CA1','CA4','CA2','CA2','CA5','CA6','CA1','CA2','CA3','CA6']}
venta = {'TALON': ['01','02','03','04','05','06','07','08'],
            'REFERENCIA': ['A','A','A','D','E','E','H','H'],
            'PRECIO': [15,18,14,37.95,125.95,150,22.99,24],
            'FECHA_VENTA': ['11/2/2012','15/2/2012','2/10/2013','6/8/2010','31/11/2010','5/2/2011','11/4/2010','8/8/2011']}
df4 = pd.DataFrame(campanias)
df5 = pd.DataFrame(depto_campania)
df6 = pd.DataFrame(venta)
print(df4)
print(df5)
print(df6)

## 2. Genera una consulta que obtenga la lista ordenada de todas las referencias sin venta

## 3. Genera una consulta que obtenga las ventas comprendidas entre 2010 y 2011 (ambos incluidos), que estén asociados a una campaña de tipo VENTA y que sean del departamento de JOYERÍA.

## 4. Genere una consulta que cree un campo “co_ranking” que clasifique en orden ascendente las campañas según el total de venta, siendo 1 la campaña que más ha vendido y N la que menos. (N = Total de campañas)

## 5. Clasifique todas las ventas en Mayor, Igual o Menor precio respecto a la media de los precios de todas las ventas realizadas.

**Resultado**:


![tablares](img/Tablas-4.png)

# 7. Genere una consulta que para cada campaña de tipo “venta” obtenga el talón medio, precio medio, nº de referencias compradas y nº de talones con venta superior al talón medio.

## 8. Genere una o varias consultas que devulevan las combinaciones de familias y campañas cuya venta haya sido superior a 100€.

## 9. Genere una o varias consultas que permitan catalogar los artículos vendidos y que no son de la Campaña CA1, según si se tratan de artículos de Ropa o Accesorios. En base a los departamentos y familias. NOTA: Se valorará la elaboración de la consulta y no la veracidad del propio catálogo)

## 10. Genere una o varias consultas que devuelvan la variación del total de venta entre años. Tomando como variación la siguiente fórmula $$\dfrac{Year_{n} – Year_{n-1}}{Year_{n-1}}$$ (Se valorará el control de valores 0 en la división o de indeterminaciones)

![tablas5](img/Tablas-5.png)