# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv'

### Step 3. Assign it to a variable apple and apply a head()

In [3]:
df = pd.read_csv(url)
df.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [4]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type and check the info()

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df

           Date   Open   High    Low  Close     Volume  Adj Close
0    2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1    2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2    2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3    2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4    2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...         ...    ...    ...    ...    ...        ...        ...
8460 1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461 1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462 1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463 1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464 1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

In [8]:
df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [6]:
df.set_index('Date', inplace=True)
df

             Open   High    Low  Close     Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...           ...    ...    ...    ...        ...        ...
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 6 columns]

### Step 7.  Is there any duplicate dates?

In [7]:

df.duplicated().any()

False

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [9]:
df = df.sort_index(ascending= True )
df

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
...           ...    ...    ...    ...        ...        ...
2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35

[8465 rows x 6 columns]

### Step 9. Get the last business day of each month

In [11]:
df.asfreq('BM')

              Open    High     Low   Close       Volume  Adj Close
Date
1980-12-31   34.25   34.25   34.13   34.13    8937600.0       0.53
1981-01-30   28.50   28.50   28.25   28.25   11547200.0       0.44
1981-02-27   26.50   26.75   26.50   26.50    3690400.0       0.41
1981-03-31   24.75   24.75   24.50   24.50    3998400.0       0.38
1981-04-30   28.38   28.62   28.38   28.38    3152800.0       0.44
...            ...     ...     ...     ...          ...        ...
2014-02-28  529.08  532.75  522.12  526.24   92992200.0      74.76
2014-03-31  539.23  540.81  535.93  536.74   42167300.0      76.25
2014-04-30  592.64  599.43  589.80  590.09  114160200.0      83.83
2014-05-30  637.98  644.17  628.90  633.00  141005200.0      90.43
2014-06-30   92.10   93.73   92.09   92.93   49482300.0      92.93

[403 rows x 6 columns]

### Step 10.  What is the difference in days between the first day and the oldest

In [14]:
(df.index[-1] - df.index[0]).days

12261

In [15]:
dateperiod = df.index.to_period('D')
dateperiod

PeriodIndex(['1980-12-12', '1980-12-15', '1980-12-16', '1980-12-17',
             '1980-12-18', '1980-12-19', '1980-12-22', '1980-12-23',
             '1980-12-24', '1980-12-26',
             ...
             '2014-06-24', '2014-06-25', '2014-06-26', '2014-06-27',
             '2014-06-30', '2014-07-01', '2014-07-02', '2014-07-03',
             '2014-07-07', '2014-07-08'],
            dtype='period[D]', name='Date', length=8465)

In [16]:
dateperiod[-1] - dateperiod[0]

### Step 11.  How many months in the data we have?

TypeError: 'method' object is not subscriptable

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

### BONUS: Create your own question and answer it.