# Linear regression in diabetes dataset

Let's explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [1]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [ ]:
print(diabetes.keys())

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [ ]:
print(diabetes['data'])

[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990842
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06832974
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286377
  -0.02593034]
 ...
 [ 0.04170844  0.05068012 -0.01590626 ... -0.01107952 -0.04687948
   0.01549073]
 [-0.04547248 -0.04464164  0.03906215 ...  0.02655962  0.04452837
  -0.02593034]
 [-0.04547248 -0.04464164 -0.0730303  ... -0.03949338 -0.00421986
   0.00306441]]

In [ ]:
print(diabetes['target'])

[151.  75. 141. 206. 135.  97. 138.  63. 110. 310. 101.  69. 179. 185.
 118. 171. 166. 144.  97. 168.  68.  49.  68. 245. 184. 202. 137.  85.
 131. 283. 129.  59. 341.  87.  65. 102. 265. 276. 252.  90. 100.  55.
  61.  92. 259.  53. 190. 142.  75. 142. 155. 225.  59. 104. 182. 128.
  52.  37. 170. 170.  61. 144.  52. 128.  71. 163. 150.  97. 160. 178.
  48. 270. 202. 111.  85.  42. 170. 200. 252. 113. 143.  51.  52. 210.
  65. 141.  55. 134.  42. 111.  98. 164.  48.  96.  90. 162. 150. 279.
  92.  83. 128. 102. 302. 198.  95.  53. 134. 144. 232.  81. 104.  59.
 246. 297. 258. 229. 275. 281. 179. 200. 200. 173. 180.  84. 121. 161.
  99. 109. 115. 268. 274. 158. 107.  83. 103. 272.  85. 280. 336. 281.
 118. 317. 235.  60. 174. 259. 178. 128.  96. 126. 288.  88. 292.  71.
 197. 186.  25.  84.  96. 195.  53. 217. 172. 131. 214.  59.  70. 220.
 268. 152.  47.  74. 295. 101. 151. 127. 237. 225.  81. 151. 107.  64.
 138. 185. 265. 101. 137. 143. 141.  79. 292. 178.  91. 116.  86. 122.
  72. 129. 142.  90. 158.  39. 196. 222. 277.  99. 196. 202. 155.  77.
 191.  70.  73.  49.  65. 263. 248. 296. 214. 185.  78.  93. 252. 150.
  77. 208.  77. 108. 160.  53. 220. 154. 259.  90. 246. 124.  67.  72.
 257. 262. 275. 177.  71.  47. 187. 125.  78.  51. 258. 215. 303. 243.
  91. 150. 310. 153. 346.  63.  89.  50.  39. 103. 308. 116. 145.  74.
  45. 115. 264.  87. 202. 127. 182. 241.  66.  94. 283.  64. 102. 200.
 265.  94. 230. 181. 156. 233.  60. 219.  80.  68. 332. 248.  84. 200.
  55.  85.  89.  31. 129.  83. 275.  65. 198. 236. 253. 124.  44. 172.
 114. 142. 109. 180. 144. 163. 147.  97. 220. 190. 109. 191. 122. 230.
 242. 248. 249. 192. 131. 237.  78. 135. 244. 199. 270. 164.  72.  96.
 306.  91. 214.  95. 216. 263. 178. 113. 200. 139. 139.  88. 148.  88.
 243.  71.  77. 109. 272.  60.  54. 221.  90. 311. 281. 182. 321.  58.
 262. 206. 233. 242. 123. 167.  63. 197.  71. 168. 140. 217. 121. 235.
 245.  40.  52. 104. 132.  88.  69. 219.  72. 201. 110.  51. 277.  63.
 118.  69. 273. 258.  43. 198. 242. 232. 175.  93. 168. 275. 293. 281.
  72. 140. 189. 181. 209. 136. 261. 113. 131. 174. 257.  55.  84.  42.
 146. 212. 233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.
  49.  64.  48. 178. 104. 132. 220.  57.]

In [ ]:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [ ]:
# 1. Son 10 atributos los que hay en el dataset. 
# 2. La relacion entre los datos de diabetes['data'] y diabetes ['target'], los data son los filtros que se van a usar para los target. Son predictores.
# 3. La muestra del analisis esta compuesta por 442 pacientes registrados.

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [ ]:
print(diabetes['data'].shape)
print(diabetes['target'].shape)

(442, 10)
(442,)

In [ ]:
# Son consistentes el uno con el otro.

## Buliding a regression model

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### In the cell below, import the `linear_model` class from `sklearn`.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [ ]:
X = diabetes['data']
y = diabetes['target']


diabetes_model = LinearRegression()
diabetes_model.fit(X,y)

LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [ ]:
df = pd.DataFrame(data = diabetes['data'],columns = diabetes['feature_names'])

df = pd.DataFrame(data = diabetes['data'],columns = diabetes['feature_names'])
df['target']= diabetes['target']
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [ ]:
diabetes_data_train = diabetes['data'][:422]
diabetes_target_train = diabetes['target'][:422]
diabetes_data_test = diabetes['data'][:-20]
diabetes_target_test = diabetes['target'][:-20]

In [ ]:
diabetes_model = LinearRegression()
diabetes_model.fit(diabetes_data_train,diabetes_target_train)

LinearRegression()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    train_size=0.8,
                                                    random_state=0)

print(f"X_train: {X_train.shape}\ty_train: {y_train.shape}")
print(f"X_test: {X_test.shape}\ty_test: {y_test.shape}")

LinearRegression()

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [ ]:
diabetes_model.coef_

array([ 3.03499549e-01, -2.37639315e+02,  5.10530605e+02,  3.27736980e+02,
       -8.14131709e+02,  4.92814588e+02,  1.02848452e+02,  1.84606489e+02,
        7.43519617e+02,  7.60951722e+01])

In [ ]:
diabetes_model.intercept_

152.76430691633442

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [ ]:
y_hat = diabetes_model.predict(diabetes_data_test)
y_hat

array([206.75928628,  68.44064739, 178.20406005, 166.59039906,
       129.47338697, 105.48206978,  74.90024045, 120.73067569,
       159.82011958, 211.92833532,  97.83664191,  97.41005509,
       115.60592349, 164.92279039, 103.34070745, 177.68217359,
       210.75217394, 184.40013153, 148.54098532, 123.55941211,
       120.97403176,  86.41241445, 113.06547293, 252.35802827,
       165.0256223 , 147.87909701,  97.36674337, 179.12350572,
       129.58494812, 185.38814558, 158.11930901,  69.5502975 ,
       263.36897831, 113.46175282,  79.56563326,  87.72481273,
       207.0421844 , 157.45915639, 240.65662115, 137.1490856 ,
       155.31655344,  74.42879297, 146.31653437,  78.52705268,
       222.11926084, 126.59820508, 141.84166437, 109.44753606,
        75.09372891, 190.42332738, 159.23790309, 171.06440722,
       134.14185441, 159.31230491, 138.94279895,  73.39607055,
       207.21538369,  80.45498482, 103.89405947, 135.51866843,
       113.7604739 , 181.57058967,  61.77249359,  98.88189256,
       115.70757199, 191.02738602, 150.90888198, 125.92583944,
       116.54669748, 124.03378216,  75.55191024, 237.48306485,
       141.50540223, 125.7874299 , 151.92660098, 128.96147947,
       192.53543155,  77.39022131, 167.09776732,  91.31020128,
       175.17028723, 124.29323949,  63.18411355, 151.78757246,
        53.60712124, 165.98566436,  44.4723183 , 152.23324167,
        81.62386207, 107.2816144 ,  80.87409188, 187.27371075,
       192.57750449,  60.72408869, 106.4031363 , 125.49538842,
       208.99379988, 214.59988147, 123.54770557, 139.99635036,
       167.79824717, 108.58475774, 149.32986674, 159.19431647,
       152.351259  , 117.92793459,  73.04375498, 157.21237354,
       231.29179423, 146.69328359,  40.80100306, 121.73643613,
       152.55087233, 209.59441904, 289.90775253, 189.05011996,
       215.28486372, 237.32410411, 166.37285996, 151.907107  ,
       157.19405036, 201.84503346, 220.58435724, 176.89381347,
       169.39959973, 187.68448576,  57.68850542, 107.99405973,
        92.59936412, 212.23870609, 245.41651206,  69.4816247 ,
       114.41367356,  69.79914347, 140.31442169, 239.90556041,
        58.60883226, 235.72019943, 255.73947027, 253.12249817,
       157.6279999 , 231.98033091, 170.76553345, 117.61035691,
       179.93772788, 238.81068308, 190.57795278, 228.0108628 ,
       114.36333784, 178.23235423, 209.81775597, 144.9795296 ,
       202.60129801, 123.80860815, 151.63805944, 198.97398769,
       146.59152212, 125.27392182,  86.03270707, 234.82457586,
        82.84016948, 231.27600488, 144.36323971, 198.48406939,
       147.06334862,  77.98456984,  60.16531688, 263.50063179,
       226.2378663 , 219.1627738 ,  48.11897346,  88.90700468,
       222.1094987 ,  97.92075863, 165.3163388 , 121.62630945,
       159.11162765, 223.77647264, 100.21365939, 166.44520444,
       180.27822407,  90.61060421, 173.45311624, 160.50438597,
       201.91417101, 186.05703896, 196.96259576,  66.47814072,
       154.88396506, 117.37775276, 197.02504012, 128.99212268,
        92.25472599, 141.37351287, 155.92188295, 171.07777829,
        99.62668276, 192.35843191, 142.33601676, 176.87579872,
        97.12218811,  70.42117942, 163.92951642, 199.22311971,
       181.48660328, 227.29930221, 161.41002772, 211.79446617,
       224.66341593, 175.32963083, 124.96333003, 175.91591988,
       153.1156677 ,  99.72373002, 100.00195178, 263.53536082,
       225.48647667, 222.38262709, 134.55939169, 145.07798763,
        54.84517001, 142.09205052, 154.79870054, 124.46470533,
        78.0745732 , 231.034711  ,  78.67174011, 106.97791537,
       117.81672   ,  99.53040319, 165.91262249, 160.30651046,
       159.59183372, 143.39983051, 231.71849   , 179.59535891,
       187.56243947,  67.05964986, 192.84191843, 179.08027657,
       235.94996771, 121.08637751,  85.93905304, 102.65017083,
       140.31649517, 101.66657695, 119.96430852,  82.16098489,
       234.31452819, 244.33866794, 263.53283451, 274.30429222,
       180.91762932, 204.45453023, 254.03323937, 119.28896357,
       267.19515892, 105.08321149, 119.46191516, 142.50982281,
        58.807832  , 130.39077413, 263.39520208,  46.17469178,
       125.0187723 , 131.70093752,  35.64540901, 139.17365621,
       246.10401878,  89.1724053 , 192.71804663, 166.23315911,
       147.79589786, 192.59895656, 177.56167389, 159.86178668,
       188.01701815, 117.08311908, 113.82928222, 118.61959402,
       166.10750875,  98.10269213, 141.14817148,  85.3149742 ,
       161.52470754, 203.30162645,  79.99128073, 146.91709814,
        81.14161392, 190.03643798, 221.95408679, 203.46909044,
        93.3565789 , 178.7878351 ,  83.91466859, 152.06713318,
        78.34168866,  98.41490946, 108.56162588, 125.62703969,
       217.90029179, 127.53783653, 207.05767561, 230.19888487,
       124.47980723, 136.71526057, 127.63090393, 150.98569723,
        88.5925505 , 139.48869288, 204.52461607, 173.83508424,
       122.9253427 , 214.36441981, 174.70438665, 110.22556227,
       198.73936678, 174.83541512, 163.61697039, 193.79942594,
       191.47045414, 285.50533597, 279.46979662, 216.51365647,
       210.84831584, 215.64107793, 158.55625638, 224.23468435,
       188.77485924, 105.07471765, 180.78872664, 114.49716858,
       291.21345392, 184.36382653,  80.18176355,  86.91136289,
       248.78148064, 176.34545208, 122.15126229, 146.07273095,
       171.50388525, 184.66501163, 165.42948001, 157.82604851,
       143.70436507, 127.03589361, 177.62938237, 105.52013381,
       132.73458358,  97.5268931 , 250.1859579 ,  86.81475817,
        62.41613529, 154.45925987, 191.6875602 , 134.74421673,
        94.28531437, 201.15935714,  53.73729167, 176.76832337,
       197.79656254, 119.63803358, 236.11561006, 166.17655703,
       162.37080447, 164.02067674, 252.92926842, 256.45853973,
       197.70698794, 184.82159384,  59.2095776 , 193.66927062,
       111.23508373, 142.60785153, 127.65299855, 181.28398173,
       210.83575857, 170.72039696, 165.17584707, 137.74480707,
       175.68382577,  75.3511821 , 245.44316502, 115.3294497 ,
       111.81300072, 141.55921954, 111.02445384,  91.9564145 ,
       164.19818587,  74.89356839, 253.68019464,  54.68468661,
       100.04367036, 100.83016925, 257.81296474, 169.57401414,
        62.70775773, 183.11027608, 170.34970265, 190.15105413,
       187.19845707,  88.17178554, 151.59620981, 250.30795981,
       199.91994535, 284.01273725,  50.53096422, 173.03012803,
       205.73902656, 174.78336203, 157.74242737, 150.48016954,
       234.26382757, 121.60133488, 165.79514728, 173.46162171,
       227.5018786 , 149.09669413,  99.5856398 ,  81.87865626,
       142.75810005, 193.01616829])

#### Print your `diabetes_target_test` and compare with the prediction.

In [45]:
print(diabetes_target_test)

[233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.  49.  64.
  48. 178. 104. 132. 220.  57.]

#### Is `diabetes_target_test` exactly the same as the model prediction?

In [ ]:
# No sale el mismo modelo de predicción.

#### Which are the most important features?