# Ejercicio Estadística Entrevista

![ECI](ECI_Analisis.png)

In [1]:
import pandas as pd 
import numpy as np

In [ ]:
# Apartado A

In [10]:
ticket = [4,15,25,35,45,55,65,75,85,95,105,115,125,135,145,850]

df_ticket = pd.DataFrame(ticket)

df_ticket

      0
0     4
1    15
2    25
3    35
4    45
5    55
6    65
7    75
8    85
9    95
10  105
11  115
12  125
13  135
14  145
15  850

In [12]:
df_ticket.describe()

                0
count   16.000000
mean   123.375000
std    198.548693
min      4.000000
25%     42.500000
50%     80.000000
75%    117.500000
max    850.000000

In [11]:
df_ticket.mean()

0    123.375
dtype: float64

In [ ]:
# Apartado B 
# La media no es representiva, ya que el ultimo tres por ciento de los tickets infla mucho los datos. Al ser la media de 134, esta lejos del consumo medio, que esta entre 50 y 70 euros que acaparan un 49 %. 
# Con la mediana que nos da 80, nos acercamos a un mayor más representativo al estar justo en el percentil 0,5.

In [13]:
df_ticket.median()

0    80.0
dtype: float64

In [ ]:
# Apartado C

# En este caso hay un outlier muy claro, en el ultimo valor, aunque represente el tres por ciento es de 850 euros, mientras el resto de valores van subiendo de diez en diez.

In [ ]:
# Apartado D

In [17]:
arry = np.array(ticket)
percentil50 = np.percentile(arry, 50)
percentil25 = np.percentile(arry, 25)
percentil75 = np.percentile(arry, 75)

print("El percentil 25 es: ", percentil25)
print("El percentil 50 es: ", percentil50)
print("El percentil 75 es: ", percentil75)

El percentil 25 es:  42.5
El percentil 50 es:  80.0
El percentil 75 es:  117.5